html {

}

body {
    background-color: white;
}

#content > p {
    color: black;
}

label {
    color: black;
}

#page_top {
    background-color: #e6f5ff;
}

#page_top > h1 {
    color: black;
}

#page_options_list > li {
    background-color: #66c2ff;
    border: 2px solid #008ae6;
}

#page_options_list > li:hover {
    background-color: #ccebff;
}

#page_options_list li a {
    color: black;
}

#page_content {
    border: 5px solid #bbbbbb;
}

#content {
    border: 5px solid #bbbbbb;
}

#sidebar {
    border: 5px solid #bbbbbb;
}

.sidebox > p {
    color: black;
}

#page_bottom_list > li {
    color: black;
    background-color: #8080ff;
    border: 2px solid #1a1aff;
}

#page_bottom_list > li:hover {
    background-color: #b3b3ff;
}

#page_bottom_list li a {
    color: black;
}

/* ---------------------------------------------------------------------- */
/*                          --- Settings for Story-Selector -Fragment --- */
/* ---------------------------------------------------------------------- */

#story_selector {

}

#story_selector > a {

}

div.story_option {
    border: 3px solid #99b3ff;
    background-color: #ccebff;
}

div.story_option:hover {
    border: 3px solid #008ae6;
    background-color: #00cc00;
    opacity: 0.80;
}

div.story_option > h4 {
    color: black;
}

div.story_option > p {
    color: black;
}

div.story_option > div {
    background-image: radial-gradient(#00cc00, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

div.story_option:hover > div {
    background-image: radial-gradient(white, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

/* ---------------------------------------------------------------------- */
/*                                  --- Settings for React-Components --- */
/* ---------------------------------------------------------------------- */

div.sideboxtop {
    background-color: green;
}

p.sideboxtop {
    color: white;
}

button.sideboxtop {
    background-color: inherit;
}

div.sideboxcontent {
    background-color: darkgreen;
}

p.sideboxcontent {
    color: yellow;
}

.sideboxparent {
    
}
