html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

#content > p {
    color: black;
    padding-left: 10px;
    font-family: sans-serif;
}

label {
    color: black;
}

#page_top {
    background-color: #e6f5ff;
    height: 100px;
}

#page_top > h1 {
    margin-top: 0px;
    color: black;
    font-size: 60px;
    font-family: sans-serif;
    line-height: 100px;
    text-align: center;
}

#page_options_list > li {
    display: inline-block;
    text-align: center;
    padding: 4px;
    font-size: 30px;
    font-family: sans-serif;
    color: black;
    background-color: #66c2ff;
    border-radius: 20px;
    border: 2px solid #008ae6;
    width: 300px;
}

#page_options_list > li:hover {
    background-color: #ccebff;
}

#page_content {
    min-height: 600px;
    border: 5px solid #bbbbbb;
    box-sizing: content-box;
}

#content {
    min-height: inherit;
    width: 70%;
    border: 5px solid #bbbbbb;
    box-sizing: border-box;
    float: left;
}

#sidebar {
    min-height: inherit;
    width: 30%;
    border: 5px solid #bbbbbb;
    box-sizing: border-box;
    float: left;
}

.sidebox > p {
    color: black;
}

#page_bottom_list > li {
    display: inline-block;
    text-align: center;
    padding: 2px;
    font-size: 15px;
    font-family: sans-serif;
    color: black;
    background-color: #66c2ff;
    border-radius: 10px;
    border: 2px solid #008ae6;
    width: 100px;
}

#page_bottom_list > li:hover {
    background-color: #ccebff;
}
