html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

#content > p {
    color: white;
    padding-left: 10px;
    font-family: sans-serif;
}

label {
    color: white;
}

#page_top {
    background-color: #111111;
    height: 100px;
}

#page_top > h1 {
    margin-top: 0px;
    color: white;
    font-size: 60px;
    font-family: sans-serif;
    line-height: 100px;
    text-align: center;
}

#page_options_list > li {
    display: inline-block;
    text-align: center;
    padding: 4px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    background-color: #333333;
    border-radius: 20px;
    border: 2px solid white;
    width: 300px;
}

#page_options_list > li:hover {
    background-color: #999999;
}

#page_content {
    min-height: 600px;
    border: 5px solid #555555;
    box-sizing: content-box;
}

#content {
    min-height: inherit;
    width: 70%;
    border: 5px solid #555555;
    box-sizing: border-box;
    float: left;
}

#sidebar {
    min-height: inherit;
    width: 30%;
    border: 5px solid #555555;
    box-sizing: border-box;
    float: left;
}

.sidebox > p {
    color: white;
}

#page_bottom_list > li {
    display: inline-block;
    text-align: center;
    padding: 2px;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    background-color: #333333;
    border-radius: 10px;
    border: 2px solid white;
    width: 100px;
}

#page_bottom_list > li:hover {
    background-color: #999999;
}
