html {

}

body {
    background-color: black;
}

#content > p {
    color: white;
}

label {
    color: white;
}

#page_top {
    background-color: #111111;
}

#page_top > h1 {
    color: white;
}

#page_options_list > li {
    color: white;
    background-color: #333333;
    border: 2px solid white;
}

#page_options_list > li:hover {
    background-color: #999999;
}

#page_options_list li a {
    color: white;
}

#page_content {
    border: 5px solid #555555;
}

#content {
    border: 5px solid #555555;
}

#sidebar {
    border: 5px solid #555555;
}

.sidebox > p {
    color: white;
}

#page_bottom_list > li {
    color: white;
    background-color: #333333;
    border: 2px solid white;
}

#page_bottom_list > li:hover {
    background-color: #999999;
}

#page_bottom_list li a {
    color: white;
}

/* ---------------------------------------------------------------------- */
/*                          --- Settings for Story-Selector -Fragment --- */
/* ---------------------------------------------------------------------- */

#story_selector {

}

#story_selector > a {

}

div.story_option {
    border: 3px solid #484848;
    background-color: #1e1e1e;
}

div.story_option:hover {
    border: 3px solid white;
    background-color: #959595;
    opacity: 0.80;
}

div.story_option > h4 {
    color: white;
}

div.story_option > p {
    color: white;
}

div.story_option > div {
    background-image: radial-gradient(black, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

div.story_option:hover > div {
    background-image: radial-gradient(white, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

/* ---------------------------------------------------------------------- */
/*                                  --- Settings for React-Components --- */
/* ---------------------------------------------------------------------- */

div.sideboxtop {
    background-color: #a3a3a3;
}

p.sideboxtop {
    color: black;
}

button.sideboxtop {
    background-color: inherit;
}

div.sideboxcontent {
    background-color: #484848;
}

p.sideboxcontent {
    color: white;
}

.sideboxparent {
    
}
