<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Anon-Stories</title>
    <link id="sitestructure" href="/css/general_structure.css" th:href="@{/css/general_structure.css}" rel="stylesheet" />
    <meta name="description" content="An Anonymous Site for Fixed Storytelling">
    <meta name="author" content="terratenff">
    <script type="text/javascript" th:src="@{/js/cookie_management/cookie_functions.js}"></script>
    <script type="text/javascript" th:src="@{/js/cookie_management/dark_mode.js}"></script>
</head>

<body>
    <div id="page_top">
        <h1>Storytellers Anonymous</h1>
    </div>
    <div id="page_options">
        <ul id="page_options_list">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/story_selection}">Story Selection</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/help}">Help</a></li>
        </ul>
    </div>
    <div id="page_content">
        <div id="content">
            <div th:switch="${pageContext}" th:remove="tag">
                <th:block th:case="0" th:include="fragments/base_fragments :: fragment-home"></th:block>
                <th:block th:case="1" th:include="fragments/base_fragments :: fragment-story_selection"></th:block>
                <th:block th:case="2" th:include="fragments/base_fragments :: fragment-about"></th:block>
                <th:block th:case="3" th:include="fragments/base_fragments :: fragment-help"></th:block>
                <th:block th:case="4" th:include="fragments/base_fragments :: fragment-rules"></th:block>
                <th:block th:case="5" th:include="fragments/base_fragments :: fragment-guidelines"></th:block>
                <th:block th:case="6" th:include="fragments/base_fragments :: fragment-contact"></th:block>
                <th:block th:case="7" th:include="fragments/base_fragments :: fragment-faq"></th:block>
                <th:block th:case="8" th:include="fragments/base_fragments :: fragment-instructions"></th:block>
                <th:block th:case="9" th:include="fragments/base_fragments :: fragment-feedback"></th:block>
                <th:block th:case="10" th:include="fragments/base_fragments :: fragment-tech_support"></th:block>
                <th:block th:case="11" th:include="fragments/base_fragments :: fragment-api"></th:block>
                <th:block th:case="*" th:include="fragments/base_fragments :: fragment-other"></th:block>
            </div>
            <th:block th:each="text,iter : ${texts}">
                <!--<p th:text="'Entry ' + (${iter.index} + 1) + ' / ' + ${iter.size}"></p>-->
                <p th:text="${text}"></p>
            </th:block>
        </div>
        <div id="sidebar">
            <div id="side_options">
                <div style="height:10px;"></div>
                <div id="box_info"></div>
                <div id="box_poll"></div>
                <div id="box_aesthetics"></div>
                <div id="box_shortcuts"></div>
                <div id="box_highlights"></div>
                <div id="box_login"></div>
                <div id="box_signup"></div>
            </div>
        </div>
    </div>
    <div id="page_bottom">
        <ul id="page_bottom_list">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/rules}">Rules</a></li>
            <li><a th:href="@{/guidelines}">Guidelines</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
            <li><a th:href="@{/help}">Help</a></li>
            <li><a th:href="@{/faq}">FAQ</a></li>
            <li><a th:href="@{/instructions}">Instructions</a></li>
            <li><a th:href="@{/feedback}">Feedback</a></li>
            <li><a th:href="@{/support}">Tech Support</a></li>
            <li><a th:href="@{/api}">API</a></li>
        </ul>
    </div>

    <script src="https://unpkg.com/react@16.8.6/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16.8.6/umd/react-dom.production.min.js"></script>
    <script type="text/javascript" th:src="@{/js/react_components/infobox.js}"></script>
    <script type="text/javascript" th:src="@{/js/react_components/pollbox.js}"></script>
    <script type="text/javascript" th:src="@{/js/react_components/aestheticsbox.js}"></script>
    <script type="text/javascript" th:src="@{/js/react_components/shortcutsbox.js}"></script>
    <script type="text/javascript" th:src="@{/js/react_components/highlightsbox.js}"></script>
    <script type="text/javascript" th:src="@{/js/react_components/loginbox.js}"></script>
    <script type="text/javascript" th:src="@{/js/react_components/signupbox.js}"></script>
</body>

</html>
